$boxShadow: 5px 10px 25px #888888;
$h1-h2-buttonFontFamily: 'Indie Flower', cursive;
$containerWidth: 500px;
$inputWidth: 300px;
$paragraphWidth: 400px;
$inputBckColor: #fbdde7;
$inputBckColorHover: #e9d2de;
$buttonBckColor: #7a3c6f;
$buttonBckColorHover: #7c4781;
$paragrapghBckColor: #e9d2de;
